textarea
{
width: 95%;
height: 140px;
font-family: 'Courier New', Courier, monospace;
font-size: 17px;
}

body
{

display: flex;
justify-content: center;
align-items: center;
align-content:center;
}

#main
{
background-color: rgb(109, 136, 209);
width: 80%;
padding: 20px;
border-radius: 10px;
font-size: 17px;
}

h1{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    

}